.container{
    width: 42px;
    height: 24px;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.icon{
    font-size: 12px;
}

.ball{
    width: 15px;
    height: 15px;
    background-color: #41e794;
    border-radius: 50%;
    position: absolute;
    transition: left 1s, right 1s;

}