.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.item{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}


.img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.title{
  font-size: 64px;
  background: linear-gradient(to bottom, #194c33, #bbb) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 24px;
  font-weight: 400;
}
.button{
  padding:20px;
  cursor: pointer;
  border: none;
  background-color: #53c28b;
  border-radius: 5px;
  width: 30%;
  font-size: 18px;
  color: white;
}