.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loader {
  width: 80px;
  aspect-ratio: 1;
  background: #8d7958;
  clip-path: polygon(100.00% 50.00%,64.14% 64.14%,50.00% 100.00%,35.86% 64.14%,0.00% 50.00%,35.86% 35.86%,50.00% 0.00%,64.14% 35.86%);
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation: l1 1.5s infinite linear;
}
@keyframes l1{ 
  100%{transform: rotate(1turn)}
}