.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.socialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
