.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.form{
    width: 400px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}
.input{
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 10px;
  color: #bbb;
  font-size: 20px;
  
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
.title{
    text-align: center;
}
