.container{
    display: flex;
    gap: 100px;
}
.posts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    position: relative;
}
.img{
    object-fit: cover;
}

.postContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.deleteContainer{
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}
.delete{
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}

.delete:hover{
    color: rgb(172, 3, 3);
    transform: scale(2);
}

.postForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 10px;
  color: #bbb;
  font-size: 20px;
  
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
.formTitle{
    text-align: center;
}
.titleSpan{
    font-weight: bold;
}
.title{
    font-weight: 400;
}